
body
{
	background-color: #767373;
}
header{
	padding: 20px;
	height:100px;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 0px;
	border: 1px solid red;
	display: block;
	background-color:#D3D3D3;
}

.main{
	display: block;
	height: 450px;
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
	background-color:#D3D3D3;
	border: 1px solid red;
}
.content{
	padding-left: 20px;
}
footer{
	padding: 20px;
	height:170px;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 10px;
	border: 1px solid red;
	display: block;
	background-color:#D3D3D3;
}
/*.footer{
	display: block;
	height: 20%;width: 80%;
	border: 2px solid red;
	margin: 0% 10% 0% 10%;
}*/
.left{
	border: 1px solid red;
	display: inline-block;margin-top: -10px;
	margin-left: 20px;
	margin-bottom: 10px;
	height: 380px;
	width: 200px;
	position: left;
}
.lefttext{
padding-left: 20px;
}
.righttext{
padding-left: 20px;
}
.right{
	border: 1px solid red;
	display: inline-block;
	margin-top: -10px;
	margin-left: 20px;
	margin-bottom: 10px;
	height: 380px;
	width: 1200px;
}
