.alignment 
{
float: right;
margin:0px;
list-style: none;
}
.nav-align-right{
	margin-right: 0px;
}
.signup-glyphy
{
	border-radius: 10px;
}
@media only screen and (min-width: 768px) {
    .alignment {
        float: left;
    }
}