<!DOCTYPE html>
<html lang="en">

<head>
<title>Add bus Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/view-bus.js"></script>
<link rel="stylesheet" href="css/view-bus.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="myapp">
 <section class="container-fluid">
<h1 style="text-align:center">VIEW-BUS</h1>
<section ng-controller="myCtrl">
<section class="view-box">
<form>
	
    	<div class="form-group row" >
      	
     
  					<div class=" form-group row dat">  
           <div class="col-sm-12 col-lg-6">
                  <label for="date">From Date:</label>    
              <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"  required="required"/>
                </div>
 						<div class="col-sm-12 col-lg-6">
        					<label for="date">To Date:</label>    
							<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"  required="required"/>

      					</div>

      						<button type="button"  class="btn col-lg-2 admin-viewbus-btn" ng-click="showBusDetails()">SEARCH</button>

</div>
      		</form>

     </section>

     <div id="myP">
 <table class="table">
    <thead>
      <tr>
        <th>FROM</th>
        <th>TO</th> 
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="x in busdetails">
       <td>{{x.FROM}}</td>
       <td>{{x.TO}}</td>  
      </tr>
    </tbody>
  </table>
</div>

</section>
</section>
</body>
</html>






