<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   	   xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:annotation-config />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:xe</value>
		</property>
		<property name="username">
			<value>system</value>
		</property>
		<property name="password">
			<!-- <value>manager</value> -->
			<value>password</value>
		</property>
	</bean>

	<bean id="accdao" class="edu.aspire.dao.AccountDaoImpl" autowire="no">	
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>

	<!-- <bean id="accdao" class="edu.aspire.dao.AccountDaoImpl" autowire="byType"/> -->
</beans>