<!DOCTYPE html>
<html>
<head>
  <title>Views Index</title>
</head>
<body>
<p>Virender Sehwag About this sound pronunciation (help·info) (born 20 October 1978) is a former Indian cricketer. Widely regarded as one of the most destructive batsmen of all time, Sehwag played as an aggressive right-handed opening batsman and also bowled part-time right-arm off-spin. He played his first One Day International in 1999 and joined the Indian test side in 2001.[2] In April 2009, Sehwag became the only Indian to be honoured as the Wisden Leading Cricketer in the World for his performance in 2008,[3] subsequently becoming the first player of any nationality to retain the award for 2009</p>
<!-- jQuery 3-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>
